.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;

  border-radius: 25px;
}

@media only screen and (min-width: 768px) {
  .inputContainer {
    flex-direction: row;
  }
}

.inputField {
  width: 85%;

  padding: 15px 10px 10px 10px;

  font-family: "Chakra Petch", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;

  border: none;
  border-radius: 25px;

  outline: none;

  background-color: rgba(255, 255, 255, 0.5);

  transition: all 0.5s ease;
}

@media only screen and (min-width: 768px) {
  .inputField {
    width: 100%;

    padding: 20px 15px 15px 15px;
  }
}

@media only screen and (min-width: 1200px) {
  .inputField {
    width: 100%;

    padding: 25px 20px 20px 20px;
  }
}

.inputField:hover {
  background: rgba(255, 255, 255, 0.9);
}

.inputField:focus-visible {
  background: rgba(255, 255, 255, 0.9);
}
