.tabsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabsButtons {
  display: flex;
  flex-direction: row;
}

.tabsContent {
  display: flex;

  width: 1200px;

  margin-top: 50px;
}
