.tabsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabsButtons {
  display: flex;
  flex-direction: row;

  width: 300px;
}

.tabsContent {
  display: flex;
  justify-content: center;

  width: 300px;

  margin-top: 25px;
}

@media only screen and (min-width: 768px) {
  .tabsButtons,
  .tabsContent {
    width: 700px;

    margin-top: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  .tabsButtons,
  .tabsContent {
    width: 1180px;
  }
}
